body {
    background-color: #f2f5fa;
    margin: 50px;
}
h1 {
    color: #4e5157;
    text-transform: uppercase;
}
p {
    color: #4e5157;
}

h1, p {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}